<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleVersion</key>
	<string>2100</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Saagar Jha. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>DetailsViewer</string>
	<key>Supported10.12PluginCompatibilityUUIDs</key>
	<array>
		<string># Mail 10.2 (3254); macOS 10.12.2 Beta (16C41b)</string>
		<string>1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E</string>
		<string># Mail 10.3 (3263); macOS 10.12.4 Beta (16E144f)</string>
		<string>21560BD9-A3CC-482E-9B99-95B7BF61EDC1</string>
	</array>
</dict>
</plist>
